{% extends "epicov/base.html" %}
{% block content %}
    <header class="page-header header container-fluid">
    <div class="overlay"></div>
    <div class="description">
        <h1>Team</h1>
        <ul>
            <li>Dr. Gail Rosen (Advisor)</li>
            <li>Michael Russo (member)</li>
            <li>Joshua Divaker (member)</li>
            <li>Lyssa Buissereth (member)</li>
            <li>Neha Cherian (member)</li>
            <li>Joshua Shelley (member)</li>
        </ul>
    </div>
    </header>
{% endblock %}